body{
    background-color:#fff;
        color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0;     

  }

.firsth1{
    color: green;
    font-style: italic;
    text-align: center;
}
.firsth1form{
    text-align: center;
}
.firsth1form2{
    text-align: center;
}
.firstnamelabel{
    font-size: larger;
    text-align: center;
}
.containerh1{
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border: width 3px;
    border-bottom-width: 10px;
    border-top-style:groove;
    padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 10px;
     padding-left: 20px;
    
        width: 200px;
        margin: auto;
        border: 3px solid #73AD21;
      
      

}
.secondh1{
    color: indigo;
    font-style: italic;
    text-align:center;
}
.secondnamelabel{
    text-align: center;
}
.containersecondh1{
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border: width 3px;
    border-bottom-width: 10px;
    border-top-style:groove;
    padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 10px;
     padding-left: 20px;
    
        width: 200px;
        margin: auto;
        border: 3px solid cornflowerblue;
}
.thirdh1{
    color: brown;
    font-style: italic;
    text-align: center;
}
.containerthirdh1{
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border: width 3px;
    border-bottom-width: 10px;
    border-top-style:groove;
    padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 10px;
     padding-left: 20px;
    
        width: 200px;
        margin: auto;
        border: 3px solid red;
}
.fourthh1{
    color: gold;
    font-style: italic;
    text-align: center;
}
.containerfourthh1{
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border: width 3px;
    border-bottom-width: 10px;
    border-top-style:groove;
    padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 10px;
     padding-left: 20px;
    
        width: 200px;
        margin: auto;
        border: 3px solid gold;

}
.fifthh1{
    color: hotpink;
    font-style: italic;
    text-align: center;
}
.containerfifthh1{
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border: width 3px;
    border-bottom-width: 10px;
    border-top-style:groove;
    padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 10px;
     padding-left: 20px;
    
        width: 200px;
        margin: auto;
        border: 3px solid hotpink;
}
.sixthh1{
    color: indigo;
    font-style: italic;
    text-align: center;
}
.sixthstyle{
    font-size: 30px;
    text-align: center;
}
.containersixthh1{
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border: width 3px;
    border-bottom-width: 10px;
    border-top-style:groove;
    padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 10px;
     padding-left: 20px;
    
        width: 230px;
        margin: auto;
        border: 3px solid grey;

}
/* .container{
    width: 80%;
    margin:auto;
    
}

.box-1{
background-color: #776b6b;
color: #fff;
border-right: 5px red solid;
border-left: 5px red solid;
border-top: 5px red solid;
border-bottom: 5px red solid;
border-width: 3px;
border-bottom-width: 10px;
border-top-style:groove;


padding-top: 20px;
     padding-bottom: 20px;
     padding-right: 20px;
     padding-left: 20px;

     margin: 20px;
} */